<header>
    <link rel="stylesheet" href="static/css/index.css">

    <!-- <script src="static/js/reactTest.js"></script> -->
</header>

<main>     
    <h2>{{ title }}</h2>
    <!-- <md-filled-button>Yes</md-filled-button>
    <md-outlined-button>No</md-outlined-button>
    <span class="material-symbols-outlined">search</span> -->
    
    <form action="/" method="post">
        <textarea name="prompt" id="" autofocus>{{ prompt }}</textarea>
        <md-filled-button type="submit">Ask</md-elevated-button>
    </form>
</main>